{{displayName}},

Welcome to Rock Tri Club! If you haven't done so already, check out our calendar of workouts at rocktriclub.com/workouts and join us soon.  The best part of being a club member is having friends to work out with and teammates to cheer you on. Let's work together toward fitness and well being. We look forward to tri-ing with you! If you have additional questions, please email us at info@rocktriclub.com

All members are required to fill out a USAT Club Waiver form before participating in any club workouts. Please complete the waiver below and bring it to your next workout.

Your payment was successful.
${{amount}}  - {{type}} - {{card}}


Thank you! Let's get training,

Your Rock Tri Club Board Members
Coach Rich Kline, Stentz, Jenn, Brad, Sarah, and Jeanie

http://rocktriclub.com
https://www.facebook.com/groups/rocktriclub

<Waiver>
