extends layout

block content
  .index-view
    header#home.jumbotron
      .container
        .message-box.clearfix
          .left-col
            p Rock Tri Club

          .right-col
            p A multisport club centered in beautiful Castle Rock, Colorado
        .row
          .col-sm-8.col-sm-offset-2.index-nav
            a.scrollto(href="#mission") Mission
            a.scrollto(href="#about") Coach Kline
            a.scrollto(href="#sponsors") Sponsors

    section#mission
      .container
        h1.section-title.scrollimation.scale-in Our <span>Mission</span><i class="icon-flag"></i>

        .row.fade-left
          .col-md-6.col-md-offset-3
            p Rock Tri Club is organized and created to benefit its members in the sports of triathlon, duathlon, and their collective parts, swimming, biking, running.
            p The Club will provide an opportunity for member athletes to work together and learn the necessary skills to pursue their individual goals in the different multisport events taking place in Colorado and around the world.
            p Additionally, the Club will enable its members to organize social events and other non-athletic group activities in order to benefit its members as the collective group sees fit.
            p Finally, the Club will provide its members to pursue financial benefits, group discounts, seminars, sponsorships, and any other group benefit as the club members sees fit.


    section#about
      .container
        .row
          .col-sm-4.col-sm-offset-1.scrollimation.fade-right
            img.img-responsive.img-circle.img-center(src="assets/rich_finish_340x340.jpg" alt="Rich Kline")
          .col-sm-6.col-sm-offset-1.scrollimation.fade-left
            h1 Coach Rich Kline
            p I strive to help each individual find their strengths 
              | and strengthen their weaknesses. I find my inspiration through 
              | watching my beginner athletes transform into first time triathletes, as 
              | well as taking a seasoned triathlete to the next level.
            ul
              li USA Swimming Certified Coach
              li ASCA Certified Masters Swimming Coach
              li Triathlon Coach since 2008
              li Certified Spinning & Boot CampInstructor
              li Elite Swimmer University of Arizona 81- 85
              li 1985 NCAA Qualifier, sixth place finish Pac 10 Championships
              li Assistant Swim Coach, Cleveland State University 89- 91
              li Owned & Operated Retail Bicycle Business 1995 - 1998
              li B.S. Finance the University of Arizona 1986
              li IMBA Baldwin Wallace College 1994

    section#sponsors
      #sponsors-header.text-center
        h1.section-title.scrollimation.fade-left Our <span>sponsors</span> and friends <i class="icon-trophy"></i>

      .container.masonry-wrapper.scrollimation
        #sponsors-container
          a.sponsors-item(href="http://shop.runcolorado.com/")
            img.image-responsive.sponsors-image-lg(src="/assets/sponsors/runco_208.png")
          a.sponsors-item(href="http://www.mylittletonhospital.org/castlerock")
            img.image-responsive.sponsors-image-lg(src="/assets/sponsors/centura_208.png")
          a.sponsors-item(href="http://www.americancyclesport.com/")
            img.image-responsive.sponsors-image-lg(src="/assets/sponsors/americancyclesport_208.png")
          a.sponsors-item(href="http://www.leadingedgephysicaltherapy.com/")
            img.image-responsive.sponsors-image-lg(src="/assets/sponsors/leadingedge_208.jpg")
          a.sponsors-item(href="http://castlerockradio.com/")
            img.image-responsive.sponsors-image-lg(src="/assets/sponsors/crradio_208.jpg")

          a.sponsors-item(href="http://elementsmassage.com/castlerock")
            img.image-responsive.sponsors-image-md(src="/assets/sponsors/elements_208.png")
          a.sponsors-item(href="http://www.blvdpizza.com/")
            img.image-responsive.sponsors-image-md(src="/assets/sponsors/blvdpizza_208.jpg")
          a.sponsors-item(href="http://www.lostcoffee.com/")
            img.image-responsive.sponsors-image-md(src="/assets/sponsors/lostcoffee_208.png")

          a.sponsors-item(href="http://www.foundersfamilymedicine.com/")
            img.image-responsive.sponsors-image-sm(src="/assets/sponsors/founders_208.png")
          a.sponsors-item(href="http://www.miragedentalassociates.com/")
            img.image-responsive.sponsors-image-sm(src="/assets/sponsors/miragedental_208.png")
          a.sponsors-item(href="http://www.castlerockfitness.com/")
            img.image-responsive.sponsors-image-sm(src="/assets/sponsors/essence_208.png")
          a.sponsors-item(href="http://www.thefowlline.com/")
            img.image-responsive.sponsors-image-sm(src="/assets/sponsors/fowlline_208.jpg")
          a.sponsors-item(href="http://www.cliffordhancock.remaxagent.com/")
            img.image-responsive.sponsors-image-sm(src="/assets/sponsors/remax_208.png")


block scripts
  script(src='/js/jquery.masonry.min.js')
  script(src='/js/index.js')
