doctype html
html
  head
    title= title
    meta(name="description", content="Rock Tri Club is a triathalon, multisport, running, cycling, swimming club in Castle Rock, Colorado")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="shortcut icon", href="/assets/favicon.ico")
    link(rel="apple-touch-icon", href="/assets/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/assets/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/assets/apple-touch-icon-114x114.png")

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.css')
    link(rel='stylesheet', href='css/designr-theme-cyan.css')
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app='rocktriclub', ng-controller='MainCtrl', data-spy="scroll", data-target="#main-nav", data-offset="200")

    #main-nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#site-nav")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a.ir-logo.navbar-brand.scrollto(href="/") Rock Tri Club

        #site-nav.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(ng-class="{ active: isActive('/member')}")
              a(href="/member") Membership
            li
              a(href="/workouts") Workouts
          ul.nav.navbar-nav.navbar-right(user-status)

    block content

    footer#main-footer
      .container
        .row
          .col-sm-6.left-col
            h1.small-logo Rock Tri Club
            p &copy; Copyright 2014 / All Rights Reserved
          .col-sm-6.right-col
            p
              small <a href="http://www.flickr.com/photos/clairewilliamsphotography/4526155187">cover photo<a/> courtesy of <a href="http://www.flickr.com/photos/clairewilliamsphotography">ClaireWilliamsPhotography</a>

    script(src='//code.jquery.com/jquery-1.10.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src="/js/jquery.scrollto.js")
    script(src="/js/waypoints.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js')
    script(src='//cdn.firebase.com/v0/firebase.js')
    script(src='//cdn.firebase.com/libs/angularfire/0.5.0/angularfire.js')
    script(src='//cdn.firebase.com/v0/firebase-simple-login.js')
    script(src='/js/stripe-angular.js')
    script(src="https://js.stripe.com/v2/")
    script(src='/js/common.js')
    block scripts
