extends layout

block content
  .main-view
    header#inner.jumbotron
    .container
      h1 Rock Tri Club Workout Calendar
      .row-fluid
        iframe.container(src="http://www.google.com/calendar/embed?src=f2fnp2ms880evl1rihcbeqb840%40group.calendar.google.com&ctz=America/Denver&mode=AGENDA&showTitle=0&showPrint=0&showCalendars=0",style=" border-width:0 ", height="600", frameborder="0", scrolling="no")
block scripts

