extends layout

block content
  .main-view
    header#inner.jumbotron
    #workouts.container
      h1 Workouts
      .row-fluid
        #workout-calendar.col-md-8
          iframe(height='160', frameborder='0', allowtransparency='true', scrolling='no', src='http://www.strava.com/clubs/rocktriclub/latest-rides/cc320539735d33d930ac41e763b73b7ac6d65925?show_rides=false')
          h2 Calendar
          iframe.container(src="//www.google.com/calendar/embed?src=f2fnp2ms880evl1rihcbeqb840%40group.calendar.google.com&ctz=America/Denver&mode=AGENDA&showTitle=0&showPrint=0&showCalendars=0",style=" border-width:0 ", height="600", frameborder="0", scrolling="no")
        .col-md-4
          h2 Routes and Plans
          p Coming soon, a list of swim, bike and run workouts and popular routes!
block scripts

