.nav-user-avatar {
    border-radius: 100%;
    border: 2px solid #FFF;
    width: 40px;
    heigth: 40px;
    margin: -10px 10px;
}

.navbar-nav li a.avatar {
    display: inline;
}

#joinCreditCardLogos, #joinStripeLogo {
    padding: 5px 5px 5px 0;
}

.radio-secondary-text {
    padding-left: 15px;
    padding-bottom: 10px;
    font-style: italic;
}

#joinForm div.radio{
    display: block;
}

#joinForm .label {
    font-size: 100%;
}

#joinForm label {
    font-size: 115%;
}

#member-table td {
    line-height: 25px;
    font-size: 18px;
}

.main-view > .container {
    padding-top: 50px;
}
/* theme overrides */

#main-nav a.ir-logo {
    background: url("../assets/logo.png") no-repeat center center;
    background-color: rgba(255,255,255,0.9);
}

header#inner.jumbotron {
    background:url(../assets/header-bg.jpg) no-repeat center center fixed; 
    height:120px;
    min-height: 120px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#8aaad9;
}


#main-nav li {
    margin: 0 2px;
}

#main-nav .nav a:active,
#main-nav .nav a:hover {
    text-decoration: underline;
}

#main-nav ul.user-status li a i,
#main-nav ul.user-status li a i {
    font-size: 40px;
    line-height: 54px;
}

