<div ng-if="!!session.user  && session.initialized">
  <join ng-if="!session.user.isMember"></join>
  <div ng-if="!!session.user.isMember">
    <div class="row">
      <div class="col-md-8">
        <h1>Member <small>{{session.user.displayName}}</small></h1>

        <p>Thank you for joining with us!</p>

        <h2>Member List</h2>
        <table id="member-table" class="table table-responsive">
          <tr ng-repeat="member in members | orderBy:'displayName'" ng-if="member.isMember">
            <td><img ng-src="{{member.avatar || '/assets/default.png'}}" class="img-circle"/></td>
            <td> 
              <strong>{{member.displayName}}</strong> <br>
              <span class="label label-info badge-{{badge}}" ng-repeat="badge in member.badges">{{badge}}</span>
            </td>
            <td>{{member.email}} <br>{{member.phone}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4">
        <h1>Info</h1>
        <h2>Get in Touch</h2>
        <p>
          Need help? Looking for a workout partner? Planning to do a workout and want some company? You can email all club members at <a href="mailto:info@rocktriclub.com">info@rocktriclub.com</a>! Also keep tabs on the <a href="/workouts">official club workouts.</a>
        </p>
        <p>
            You can also look up other members' contact info in the member list to the left. You can update your own contact info on the <a href="/member#/profile">profile tab</a>.
        </p>

        <h2>Waiver</h2>
        <p>
          All members are required to fill out a <a href="/assets/2014USATClubWaiver.pdf">USAT Club Waiver</a> before participating in any club workouts (this is for our insurance). Please complete the <a href="/assets/2014USATClubWaiver.pdfUSAT">waiver</a> and bring it to your next workout.
        </p>
        <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='/api/strava/latest.iframe'></iframe>
      </div>
    </div>
  </div>
</div>

<div ng-if="!session.user && session.initialized">
  <div class="page-header">
      <div class="row">
        <div class="col-md-8">
          <h1>Membership <small>Rock Tri Club</small></h1>
          <p>
            The Rock Tri Club was organized and created to benefit its members in the sports of triathlon, duathlon, and their collective components of swimming, biking, and running. Being a member of our club means that you'll be surrounded by a supportive network to encourage you and spur you on toward your goals. 
          </p>
          <p>
            We are a positive group that thrives on improving as a whole. We believe that wellness is contagious, so it is our mission to share our love for the outdoors and fitness. As a member of our club, you will also become part of a community that receives discounts and services from local sponsors. Our sponsors believe in us and treat us well; we promise to make them proud. Let's TRI together!
          </p>
        </div>
        <div class="col-md-4">
          <h1>Join Us!</h1>
          <p>
            First sign in with your <a ng-click="signin('facebook')" href="#"><i class="icon-facebook-sign"></i> Facebook</a> or <a ng-click="signin('twitter')" href="#"><i class="icon-twitter-sign"></i> Twitter</a> account.
          </p>
        </div>
      </div>
  </div>
</div>