<div ng-if="!!session.user  && session.initialized">
  <join ng-if="!session.user.isMember"></join>
  <div ng-if="!!session.user.isMember">
    <h1>Member <small>{{session.user.displayName}}</small></h1>

    <p>Thank you for joining with us!</p>

    <div class="row">
      <div class="col-md-8">
        <h2>Member List</h2>
        <table id="member-table" class="table table-responsive">
          <tr ng-repeat="member in members | orderBy:'displayName'" ng-if="member.isMember">
            <td><img ng-src="{{member.avatar || '/assets/default.png'}}" class="img-circle"/></td>
            <td> {{member.displayName}}</td>
            <td>{{member.email}} <br>{{member.phone}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div ng-if="!session.user && session.initialized">
  <div class="page-header">
    <h1>Membership <small>Rock Tri Club</small></h1>
      <div class="row">
        <div class="col-md-8">
          <p>
            The Rock Tri Club was organized and created to benefit its members in the sports of triathlon, duathlon, and their collective components of swimming, biking, and running. Being a member of our club means that you'll be surrounded by a supportive network to encourage you and spur you on toward your goals. 
          </p>
          <p>
            We are a positive group that thrives on improving as a whole. We believe that wellness is contagious, so it is our mission to share our love for the outdoors and fitness. As a member of our club, you will also become part of a community that receives discounts and services from local sponsors. Our sponsors believe in us and treat us well; we promise to make them proud. Let's TRI together!
          </p>
        </div>
      </div>
  </div>
</div>