<li ng-if="session.user" ng-cloak>
  <a href="/member#/profile">
    <img class="nav-user-avatar" ng-src='{{session.user.avatar}}'/>
    <span>{{session.user.displayName}}</span>
  </a>
</li>
<li ng-if="session.user" ng-cloak>
  <a ng-click='signout()' href="#" title="Sign out">Sign out</a>
</li>
<li ng-if="session.user == null" ng-cloak>
  <span>Sign In / Join:</span>
</li>
<li ng-if="session.user == null" ng-cloak>
  <a ng-click="signin('facebook')" href="#"> <i class="icon-facebook-sign"></i></a>
</li>
<li ng-if="session.user == null" ng-cloak>
  <a ng-click="signin('twitter')" href="#"> <i class="icon-twitter-sign"></i></a>
</li>
<li ng-if="session.user == null" ng-cloak>
  <a ng-click="signin('persona')" href="#"> <img src="/assets/icon-persona.png"/></a>
</li>
